:root {
    /*backgrounds*/
    --main-bg-color: black;
    --box-bg-color: #2a2a2a;

    /*text*/
    --main-color: #FFD700;
    --text-color: whitesmoke;
    --button-color: #90c6d8;

    /*search*/
    --search-color: hsla(0,0%,100%,.7);

    /*table*/
    --table-bg-color: rgb(22, 22, 22);
}


body {
    background-color: var(--main-bg-color);
    font-family: sans-serif;
    color: var(--main-color);
}

header {
    margin-top: 50px;
    font-family: 'Star Wars', sans-serif;
    text-align: center;
}

.line {
    border-bottom: 2px solid var(--button-color);
    margin: 30px 100px;
}